./plugged/**
./tags
./spell/**
./.netrwhist
./_type
./initprof
./.claude
./.claude/settings.local.json
./perf.data
./perf.data.old
./TAGS
./EXIT
./autoload/**
./.git/**
.claude/**
.netrwhist
EXIT
TAGS
_type
autoload/**
initprof
perf.data
perf.data.old
perf.hist.0
plugged/**
spell/**
